/* Top Navbar */
.top-nav {
    background-color: #131921;
    color: white;
}


.bottom-nav {
    background-color: #232f3e;
    color: white;
}


.nav-text small {
    font-size: 12px;
    color: #cccccc;
}


.search-btn {
    background-color: #febd69;
    border: none;
}


.logo {
    cursor: pointer;
}


.top-nav div:hover,
.bottom-nav div:hover {
    cursor: pointer;
    color: #f3a847;
}


.sidebar {
    font-size: 14px;
}

.product-card {
    border: none;
}

.product-title {
    font-size: 14px;
    height: 40px;
    overflow: hidden;
}

.badge-top {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
}

.card img {
    height: 200px;
    object-fit: contain;
    padding: 10px;
}
